
/* //////////////////////////////////////////////////
[VARIABLE]
////////////////////////////////////////////////// */

$MAIN_COLOR : #fffaf2;
$SUB_COLOR : #333;
$ACCENT_COLOR : #ff6633;
$FONT_COLOR : #333;
$CONTENT_MAX_WIDTH : 600px;
